body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #f0f2f5;
}

.chat-input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #ccc;
  border-radius: 10px 10px 0 0;
  gap: 8px;
  max-width: 1200px;
  margin: 40px auto;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.chat-input-wrapper {
  position: relative;
  flex: 1;
}

.chat-input-wrapper input::placeholder {
    color:rgb(88, 86, 86);
}

.chat-input-wrapper input {
  width: 100%;
  padding: 10px 40px 10px 15px;
  border: none;
  border-radius: 25px;
  outline: none;
  font-size: 14px;
  box-sizing: border-box;
  background-color: #f1f0f0;
}

.chat-input-wrapper .material-symbols-outlined {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(63, 168, 224);
  cursor: pointer;
  font-size: 22px;
}

.chat-input-wrapper .material-symbols-outlined:hover{
    color:rgb(26, 118, 176);
}

.icon-btn {
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
  padding: 5px;
  color: rgb(39, 173, 246);
}

.icon-btn:hover {
  background-color: #eee;
  border-radius: 50%;
}

