body {
  margin: 0;
  font-family: "Lexend Deca", sans-serif;
}

#layout4 .container {
  display: grid;
  grid-template-areas:
    "header header "
    "ads article "
    "nav article"
    "nav footer";
  grid-template-columns: 200px 1fr;
  grid-template-rows: 80px 80px 1fr 60px;
  gap: 6px;
  min-height: 300px;
  background-color: white;
  padding: 0;
}

#layout4 header {
  grid-area: header;
  background-color: rgb(143, 207, 48);
  text-align: left;
  padding: 10px;
}

#layout4 nav {
  grid-area: nav;
  background-color: rgb(143, 207, 48);
  padding: 10px;
}

#layout4 article {
  grid-area: article;
  background-color: rgb(143, 207, 48);
  padding: 10px;
}

#layout4 aside {
  grid-area: ads;
  background-color: rgb(143, 207, 48);
  padding: 10px;
}

#layout4 footer {
  grid-area: footer;
  background-color: rgb(143, 207, 48);
  padding: 10px;
}
