body {
  margin: 0;
  font-family: "Lexend Deca", sans-serif;
  overflow: hidden;
}

.container {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav article ads"
    "footer footer footer";
  grid-template-columns: 200px 1fr 150px;
  grid-template-rows: 80px 1fr 60px;
  gap: 6px;
  height: 100vh;
  background-color: white;
  padding: 0;
}

header {
  grid-area: header;
  background-color: gold;
  text-align: left;
  padding: 10px;
}

nav {
  grid-area: nav;
  background-color: gold;
  padding: 10px;
}

article {
  grid-area: article;
  background-color: gold;
  padding: 10px;
}

aside {
  grid-area: ads;
  background-color: gold;
  padding: 10px;
}

footer {
  grid-area: footer;
  background-color: gold;
  padding: 10px;
}
