body {
  font-family: "Lexend Deca", sans-serif;
  background-color: #eff0f2;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.calendar-container {
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 1200px;
  padding: 20px;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;

}

.calendar-header h2 {
  font-weight: 600;
  margin: 0;
}

button {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 13px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "Lexend Deca", sans-serif;
}

button:hover {
  background-color: #f1f1f1;
}

.left-buttons .right-buttons {
  display: flex;
  gap: 0;
  font-size:18px;
}
.left-buttons .current-btn{
    background-color:rgb(214, 210, 210);
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: left;
  font-weight: 500;
  color: #666;
  margin-bottom: 10px;
  letter-spacing: 1.5px;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 60px;
  border: 1px solid #a4a2a2;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: none;
  width:100%;
}

.calendar-grid .day:nth-child(7n+6),
.calendar-grid .day:nth-child(7n+7) {
  background: #f9f9ff;
  color: black;
}

.day {
  border: 1px solid #eee;
  padding: 8px;
  text-align: left;
  font-size: 14px;
}

.next-month {
  background: #f7f7f7;
  color: #a09f9f;
}

.prev-month{
  background: repeating-linear-gradient(
    45deg,
    #f7f7f7,
    #f7f7f7 5px,
    #e0e0e0 5px,
    #e0e0e0 6px
  );
  color: #a09f9f;
}
