/*  DARK MODE */
:root {
  --bg-color: #3b4664;
  --display-bg: #181f32;
  --display-text: #fff;
  --btn-bg: #ffffff;   
  --btn-text: #000;
  --btn-special-bg: #647198;
  --btn-special-text: #fff;
  --btn-reset-bg: #d13f30;
  --btn-reset-text: #fff;
  --btn-equals-bg: #d13f30;
  --font-family: "Lexend Deca", sans-serif;
}

/*  LIGHT MODE  */
body.light-mode {
  --bg-color: #ffffff;
  --display-bg: #f2f2f2;
  --display-text: #111;
  --btn-bg: #ffffff;     
  --btn-text: #000;
  --btn-special-bg: #647198;
  --btn-special-text: #fff;
  --btn-reset-bg: #378fe9;
  --btn-reset-text: #fff;
  --btn-equals-bg: #d13f30;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: var(--font-family);
  font-weight: bold;
  background-color: var(--bg-color);
  transition: background 0.3s ease, color 0.3s ease;
}

.calculator {
  background: var(--bg-color);
  padding: 2rem;
  width: 405px;
  border-radius: 5px;
  justify-content: center;
  transition: background 0.3s ease, color 0.3s ease;
}

.calculator .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--bg-color);
  color: var(--display-text);
  transition: background 0.3s ease, color 0.3s ease;
}

.theme-switch input {
  display: none; 
}

/* Slider track */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  background-color: #181f32;  
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s;
}

/* Slider thumb */
.switch::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 21px;
  height: 21px;
  background-color: #d13f30;  
  border-radius: 50%;
  transition: transform 0.3s, background-color 0.3s;
}

/* Checked (light mode) */
input:checked + .switch {
  background-color: #f2f2f2;   
}

input:checked + .switch::before {
  transform: translateX(25px);  
  background-color: #378fe9;    
}

.display {
  background: var(--display-bg);
  color: var(--display-text);
  font-size: 3rem;
  text-align: right;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  transition: background 0.3s ease, color 0.3s ease;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  background-color: var(--display-bg);
  padding: 1rem; 
  border-radius: 10px; 
  transition: background 0.3s ease;
}
.keypad button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  background: var(--btn-bg);
  color: var(--btn-text);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease, color 0.3s ease;
}

.keypad .del,
.keypad .reset {
  background: var(--btn-special-bg);
  color: var(--btn-special-text);
}

.keypad .equals {
  background: var(--btn-equals-bg);
  color: var(--btn-special-text);
  grid-column: span 2;
}

.keypad .reset {
  grid-column: span 2;
}