:root {
  --bg-color: #3b4664;
  --display-bg: #181f32;
  --display-text: #fff;
  --btn-bg: #eae3dc;
  --btn-text: #000;
  --btn-special-bg: #647198;
  --btn-special-text: #fff;
  --btn-reset-text: #fff;
  --btn-equals-bg: #d13f30;
  --font-family: 'Segoe UI', Verdana, sans-serif;
}

body {
  display: flex;
  background-color:#3b4664 ;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  font-weight: bold;
}
.calculator .header{
  color:#fff;
  display: flex;
  justify-content: space-between; /* logo left, switch right */
  align-items: center; /* vertically align items */
  padding: 1rem 2rem;
  background-color: var(--bg-color);
  color: var(--display-text);
}

.logo {
  margin: 0;
  margin-left: -25px;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: var(--font-family);
}

/* Theme switch container */
.theme-switch {
  display: flex;
  align-items: center;
}

/* Hide checkbox */
.theme-switch input {
  display: none;
}

/* The slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  background-color: #181f32;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s;
  margin-right: -20px;
}

/* The circle inside the slider */
.switch::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 21px;
  height: 21px;
  background-color:#d13f30;
  border-radius: 50%;
  transition: transform 0.3s;
}

/* Move circle when checked */
input:checked + .switch {
  background-color: #fff;
}

input:checked + .switch::before {
  transform: translateX(25px);
}

body.dark-mode {
  --bg-color: #181f32;
  --display-bg: #3b4664;
  --display-text: #fff;
  --btn-bg: #4e598c;
  --btn-text: #fff;
  --btn-special-bg: #647198;
  --btn-special-text: #fff;
  --btn-reset-bg: #d13f30;
  --btn-reset-text: #fff;
  --btn-equals-bg: #d13f30;
}

/* grid */
.calculator {
  background: var(--bg-color);
  padding: 2rem;
  width: 405px;
  font-family: var(--font-family);
  border-radius: 5px;
  justify-content: center;
}

.display {
  background: var(--display-bg);
  color: var(--display-text);
  font-size: 3rem;
  text-align: right;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  position: relative;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  background-color: var(--display-bg);
  padding: 1rem; 
  border-radius: 10px; 
}

.keypad button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  background: var(--btn-bg);
  color: var(--btn-text);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.keypad .del {
  background: var(--btn-special-bg);
  color: var(--btn-special-text);
}

.keypad .equals {
  background:var(--btn-equals-bg);
  color: var(--btn-special-text);
  grid-column: span 2;
}
.keypad .reset {
  background: var(--btn-special-bg);
  color: var(--btn-reset-text);
  grid-column: span 2;
}

/* flexbox */
/* .calculator {
  background: var(--bg-color);
  padding: 2rem;
  width: 350px;
  font-family: var(--font-family);
  border-radius: 10px;
  align-items: center;
}

.display {
  background: var(--display-bg);
  color: var(--display-text);
  font-size: 2rem;
  text-align: right;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.keypad {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.keypad button {
  flex: 1 0 22%;
  padding: 1rem;
  font-size: 1.2rem;
  background: var(--btn-bg);
  color: var(--btn-text);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.del, .equals {
  background: var(--btn-special-bg);
  color: var(--btn-special-text);
}

.reset {
  background: var(--btn-reset-bg);
  color: var(--btn-reset-text);
  flex: 1 0 47%;
} */