* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f6f7fb;
  font-family: 'Poppins', sans-serif;
}

.gallery {
  display: flex;
  gap: 5px;
  background: rgb(239, 237, 237);
  padding: 10px;
  max-width: 1000px;
}

.column {
  flex: 1;
  display: grid;
  gap: 2px;
}

.column.left,
.column.right {
  grid-template-rows: repeat(4, 1fr);
}

.column.left img,
.column.right img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

/* Middle column */
.column.middle {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.column.middle > img {
  width: 100%;
  flex-grow: 1; /* large image takes all remaining space */
  object-fit: cover;
}

/* Bottom row images */
.bottom-row {
  display: flex;
  gap: 5px;
}

.bottom-row img {
  flex: 1;
  height: 150px;
  object-fit: cover;
}
