.heading{
  text-align: center;
}

#gallery3-wrapper {
  display: flex;           /* center the gallery on page */
  justify-content: center;
  padding: 20px;
  background: #f6f7fb;
  font-family: "Lexend Deca", sans-serif;
  margin-bottom: 20px;
}

#gallery3-wrapper .gallery {
  display: flex;
  gap: 5px;
  max-width: 1000px;
  background: rgb(239, 237, 237);
  padding: 10px;
  margin-bottom: 50px;
}

#gallery3-wrapper h1{
  text-align: center;
}

/* Columns */
#gallery3-wrapper .column {
  flex: 1;
  display: grid;
  gap: 2px;
}

#gallery3-wrapper .column.left,
#gallery3-wrapper .column.right {
  grid-template-rows: repeat(4, 1fr);
}

#gallery3-wrapper .column.left img,
#gallery3-wrapper .column.right img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

#gallery3-wrapper .column.middle {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#gallery3-wrapper .column.middle > img {
  width: 100%;
  flex-grow: 1;
  object-fit: cover;
}

#gallery3-wrapper .bottom-row {
  display: flex;
  gap: 5px;
}

#gallery3-wrapper .bottom-row img {
  flex: 1;
  height: 150px;
  object-fit: cover;
}
