* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f6f7fb;
  font-family: "Lexend Deca", sans-serif;
}

.gallery {
  display: flex;
  gap: 15px;
  background: rgb(230, 230, 230);
  padding: 10px;
  max-width: 1000px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);

}

/* Columns common settings */
.column {
  flex: 1;
  display: grid;
  gap: 15px;
}

/* Left and Right Columns */
.column.left,
.column.right {
  display: grid;
  grid-template-rows: 1fr 1.5fr 148px; 
  gap: 25px;

}

.column.left img,
.column.right img {
  width: 100%;
  height: 100%; 
  object-fit: cover;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

/* Middle Column */
.column.middle {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.column.middle > img {
  width: 100%;
  flex-grow: 1; /* large image takes most space */
  object-fit: cover;
  box-shadow: rgb(33, 33, 33);
}

/* Bottom row images */
.bottom-row {
  display: flex;
  gap: 15px;
}

.bottom-row img {
  flex: 1;
  height: 150px;
  object-fit: cover;
  gap:10px;
}
