body {
  margin: 0;
  font-family: "Lexend Deca", sans-serif;
}

#layout2 .container {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav article ads"
    "footer footer footer";
  grid-template-columns: 200px 1fr 150px;
  grid-template-rows: 80px 1fr 60px;
  gap: 6px;
  min-height: 300px;
  background-color: white;
  padding: 0;
}

#layout2 header {
  grid-area: header;
  background-color: gold;
  text-align: left;
  padding: 10px;
}

#layout2 nav {
  grid-area: nav;
  background-color: gold;
  padding: 10px;
}

#layout2 article {
  grid-area: article;
  background-color: gold;
  padding: 10px;
}

#layout2 aside {
  grid-area: ads;
  background-color: gold;
  padding: 10px;
}

#layout2 footer {
  grid-area: footer;
  background-color: gold;
  padding: 10px;
}
