body {
    margin: 0;
    padding: 0;
    background-color: #231780;
    font-family: "Lexend Deca", sans-serif;
}
.contact-form {
    display: grid;
    grid-template-columns: 0.7fr 2.3fr;
    width: 90%;
    max-width: 1000px;
    margin: 50px auto;
    margin-top: 160px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    overflow: hidden;
}
.left {
    background-color: #29529f;
    color: white;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    
}
.left h2 {
    margin: 0 0 5px 0;
}
.left p {
    line-height: 1.5;
    margin:0;
    margin-top: 10px;
    margin-bottom: 150px;
}
.left footer {
    font-size: 0.9em;
}
.right {
    padding: 30px 0 30px 35px;
    margin:0;
    background-color: #ecebeb;
    font-size: 18px;
}

form {
    display: block;
}

.form-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 15px;
    gap:15px;
    max-width:90%;
}
.form-item {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}
input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
} 
textarea {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    resize: none;
    min-height: 100px;
}
button#send-btn {
    background-color: rgb(53, 53, 208);
    color: #fff;
    width:90%;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size:18px ;
}
