body {
    background-color: rgb(216, 211, 211);
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    min-height: 100vh;
    position: relative;
    margin: 0;
    overflow:hidden;
}
.page-container {
    min-height: 100vh;
    overflow: hidden; 
}
.left-panel{
    width: 10%;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}
.logo-image img {
    margin-top: -30px;
    height: 100px;
    width:120px;
}
.middle-panel {
    position: absolute;
    top: 50%; 
    left: 35%;       
    transform: translate(-50%, -50%); 
    z-index: 10;   
    width: 350px;
    text-align: center;
}
.form-title {
    background-color: #00a000;
    color: white;                    
    padding: 0.8rem 1rem;           
    font-size: 1.2rem;              
    font-weight: bold;             
    border-radius: 4px 4px 0 0;   
    display: block;  
    margin:0;
    margin-top: -5px;
    margin-left: -15px;         
    width: 99%;               
    text-align: left;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.1);
}

.form-container {
    margin-top:10px;
    width: 100%;
    height: 300px;
    background-color: rgb(240, 237, 237);
    border: none;
}

.form-group-1 {
    margin-top: 30px;
    margin-bottom: 20px;
}

.form-group-1 label {
    margin-right: 10px;
}

input {
    height: 30px;
    background-color: rgb(237, 224, 207);
    border-color: rgb(194, 193, 193);
}

.form-group-2 label {
    margin-right: 12px;
    display: inline-block;
}

.btn {
    padding: 5px 12px;
    float: right;
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    margin-right: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-primary {
    background-color: black;
    color: white;
}

.btn-primary:hover {
    background-color: #4a494b;
}

.right-panel {
    float: right;
    height: 100vh;
    width:80%;
}

.right-panel img {
    float:right;
    width: 80%;
    height: 100%;
    object-fit:cover;
    margin-top: 0;
}

.footer {
    background-color: rgb(236, 234, 234);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 36%;
    height:30px;
    padding: 5px 0px;
    text-align: left;
}
