body {
    background-color: rgb(227, 225, 225);
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    min-height: 100vh;
    position: relative;
    margin: 0;
    overflow:hidden;
}
.page-container {
    min-height: 100vh;
    overflow: hidden; 
}
.left-panel{
    width: 10%;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}
.logo-image img {
    margin-top: -35px;
    height: 110px;
    width:130px;
}
.middle-panel {
    position: absolute;
    top: 50%; 
    left: 35%;       
    transform: translate(-50%, -50%); 
    z-index: 10;   
    width: 400px;
    text-align: center;
}
.form-title {
    background-color: #00a000;
    color: white;                    
    padding: 0.8rem 1rem 0.8rem 4rem;           
    font-size: 1.2rem;              
    font-weight: bold;             
    border-radius: 4px 4px 0 0;   
    display: block;  
    margin:0;       
    width: 100%;               
    text-align: left;
    box-sizing: border-box;
}
.form-title-container {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    margin:0;
}
.form-icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: black;
    color: white;
    padding: 12.5px;
    font-size: 18px;
}

.form-container {
    margin-top:10px;
    width: 100%;
    height: 350px;
    background-color: rgb(240, 237, 237);
    border: none;
    padding: 0%;
    box-sizing: border-box;
    position: relative;
}
.form-fieldset {
    width: 100%;
    border: none;
    padding: 0;
    margin: 0;
}
.form-description{
    text-align: left;
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.form-group-1, .form-group-2 {
    white-space: nowrap;
    margin-top: 15px;
}

.form-group-1 label,
.form-group-2 label {
    display: inline-block;
    width: 90px; 
    text-align: left;
}

.form-group-1 input {
    width: 230px;
    display: inline-block;
    padding: 0.5rem;
    border: 1px solid #ccc;
    background-color: rgb(237, 224, 207);
}

.input-icon-wrapper {
    display: inline-block;
    position: relative;
    width: 230px;
    vertical-align: middle;
}

.input-icon-wrapper input {
    width: 100%;
    padding:0.5rem;
    margin-right:0;
    border: 1px solid #ccc;
    background-color: rgb(237, 224, 207);
}

.eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
    color: #888;
    cursor: pointer;
}


.btn {
    padding: 7px 12px;
    float: right;
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    margin-right: 38px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-primary {
    background-color: black;
    color: white;
}

.btn-primary:hover {
    background-color: #4a494b;
}

.right-panel {
    float: right;
    height: 100vh;
    width:80%;
}

.right-panel img {
    float:right;
    width: 80%;
    height: 100%;
    object-fit:cover;
    margin-top: 0;
}
.form-bottom{
    height:40px;
    background-color:rgb(228, 224, 224);
    border-radius:0 0 4px 4px;
    left:0;
    bottom:0;
    position:absolute;
    width:100%;
}

.footer {
    background-color: rgb(236, 234, 234);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 36%;
    height:30px;
    padding: 5px 0px;
    text-align: left;
}
