body{
    background-color:  rgb(233, 249, 254) ;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    padding:0;
    margin:0;
    box-sizing: border-box;
    display: grid;
    min-height: 100vh;
}

label{
    width:100%;
    margin-bottom: .5rem;
    display:block;
    font-weight: 600;
}
input[type='number']{
    width:80%;
    height: 1.5rem;
    font-weight: 700;
    border:0;
    outline:0;
}
input[type='radio']{
    width: 1rem;
    height:1rem;
    margin-right: .5rem;
    border-radius: 50%;
}
input[type='radio']:checked{
background-color: blue;
}
.radio-inputs{
    cursor: pointer;
    padding: 1rem;
    margin-bottom:.5rem;
    font-weight: 500;
    display:inline-block;
    border: 1px solid grey;
}
.button{
    cursor:pointer
}
.form-item{
    margin-bottom: 2rem;
}
.form-item .light-text{
    color: rgb(163, 161, 161);
}
.form-symbol{
    background-color: rgb(233, 249, 254) ;
    padding:8px 12px;
    font-weight: 700;
}
.form-flex{
    display: inline-grid;
    grid-template-columns:  auto 1fr;
    border:1px solid 
}
.form-col{
   display:grid;
   grid-template-columns:  1fr 1fr; 
   gap: 1.75rem;
}
.mortgage-calculator{
    background-color: #ffffff;
    width: 900px;
    max-height: 800px;
    display:grid;
    grid-template-columns:1fr 1fr ;
    border-radius: 1.5rem;
    overflow:hidden;
    margin-left: 350px;
}
.mortgage-calculator > * {
    padding:2rem;
}
.mortgage-calculator .left{
    color:#131313;
}
.mortgage-calculator .left .header{
    margin-bottom: 2rem;
    display: inline-block;
    vertical-align: middle;
}
.mortgage-calculator .left .header button{
    background-color: transparent;
    color: rgb(148, 147, 147);
    padding: 10px;
    font-size: 1.15rem;
    text-decoration: underline;
    border: 0;
}
.mortgage-calculator .left .header button:hover{
    color: rgb(117, 116, 116);
    cursor: pointer;

}
.mortgage-calculator .left .calculate-btn{
    background-color: rgb(186, 213, 50);
    padding: .75rem 2rem;
    font-size: 1.25rem;
    font-weight: 700;
    display:inline-block;
    align-items: center;
    border:0;
    border-radius: 1.5rem;
    cursor:pointer;
}
.mortgage-calculator .left .calculate-btn:hover{
    background-color:rgb(206, 233, 70) ;
}
.mortgage-calculator .right{
    background-color: #1e334d;
    color:#ffffff;
}
.mortgage-calculator .right .default-text{
    margin-top: 5rem;
    text-align: center;
}
.mortgage-calculator .right .default-text img{
    margin-top: auto;
    display:block;
    margin-right: auto;
    margin-left: auto;
}





